@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css');
@import url('https://fonts.googleapis.com/css?family=Corben:700');

body {
    padding-top: 70px;
    background-color: #e1e4e8;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}

.tooltip .tooltip-inner {
    margin-left: 30px;
    width: 200px;
    color: black;
    background-color: #fff;
    border: solid 3px #000;
}

.tooltip-auto[x-placement^=right] .arrow::before,
.tooltip .arrow::before {
    left: 30px;
}

.modal-dialog-fluid {
    max-width: inherit;
    width: 80%;
    margin: auto;
}

.btn-fluid {
    max-width: inherit;
    width: 80%;
    margin: auto;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
    white-space: nowrap;
    width: 1px;
}

.form-control[disabled],
.form-control[readonly] {
    background-color: #fff;
}
